* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost*', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

section {
    margin: 50px 0;
}

#aboutdmcyber {
    padding: 100px 0;
}

a {
    text-decoration: none !important;
    transition: 600ms;
}

a:hover {
    text-decoration: none !important;
    color: #02ADEF !important;
    transition: 600ms;
    background-color: #171717 !important;
}

.home-6 {
    margin: auto !important;
}

button {
    transition: 600ms;
    border: 0;
}

li {
    font-size: 16px;
    padding: 2px 0;
}

label {
    color: #02ADEF;
    font-weight: bold;
    font-size: 22px;
}

input, textarea {
    width: 100%;
    border: none;
    outline: 0;
    margin-bottom: 20px !important;
    border-radius: 5px;
}

input {
    height: 60px;
    padding-left: 10%;
}

textarea {
    height: 200px;
    padding: 10%;
}

input::placeholder, textarea::placeholder {
    color: #171717;
    font-size: 14px;
}

.cyberInputs {
    display: flex;
    justify-content: space-between;
}

.LiquidCrystal .col-md-6 {
    padding: 0 !important;
    height: auto !important;
}

.cyberimage {
    width: 400px;
    object-fit: contain;
    animation: beat 3s infinite alternate;
}

.CardImage {
    object-fit: contain;
    width: 70px;
}

.CyberSolutions a {
    display: flex;
    justify-content: flex-end;
    font-size: 8px;
    letter-spacing: 12%;
    color: #171717;
    padding: 30px;
}

#aboutp {
    padding-right: 50% !important;
}

.aboutcyber {
    width: 100%;
    object-fit: contain;
    position: relative;
    right: 17%;
}

.aboutcard {
    padding: 30px 15px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(50,51,53,1) 0%, rgba(23,23,23,1) 50%, rgba(50,51,53,1) 100%);
}

#cyberform {
    margin: 80px 0;
}

.cybercontact {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.cybercontact img {
    width: 25px;
    height: 30px;
    object-fit: contain;
    margin-right: 20px;
}

.cybercontact1 {
    width: 80px !important;
    height: 40px !important;
}

.cybercontact p {
    padding: 0 !important;
    margin: 0 !important;
}

.cybercontact:hover > img {
    transition: 900ms;
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 15%;
}

.cybersolutionimg {
    position: absolute;
    right: -65px;
    height: 100%;
    top: -32%;
}

.cybersolutionimg2 {
    position: absolute;
    height: 100%;
    top: 63%;
    right: 85%;
}

.footerlogo {
    width: 50%;
    object-fit: contain;
}

#footer {
    text-align: center;
}

/* Responsive Styles */

/* Large devices (desktops, 992px and up) */
@media (max-width: 1199px) {
    #aboutp {
        padding-right: 20% !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991px) {
    .cyberimage {
        width: 300px;
    }
    
    li {
        font-size: 14px;
    }
    
    #aboutp {
        padding-right: 10% !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
    section {
        margin: 30px 0;
    }
    
    #aboutdmcyber {
        padding: 50px 0;
    }
    
    #aboutp {
        padding-right: 0 !important;
    }
    
    #cybercards {
        margin: 15px 0;
    }
    
    #cyberform {
        margin: 30px 0;
    }
    
    .cyberInputs {
        flex-direction: column;
    }
    
    label {
        font-size: 20px;
    }
    
    #contact {
        padding-left: 5%;
    }
    
    .cybersolutionimg, .cybersolutionimg2 {
        display: none;
    }
    
    .footerlogo {
        width: 75%;
        margin-top: 30px;
    }
    .Cyberimage{
        width: 100%;
    }
}

/* Extra small devices (phones, 575px and down) */
@media (max-width: 575px) {
    #Cyber1 {
        order: 2;
    }
    
    #Cyber2 {
        order: 1;
    }
    
    .cybercontact1 {
        width: 100% !important;
    }
    
    .footerlogo {
        width: 100%;
        margin-top: 50px;
    }
    
    .cyberimage {
        width: 100%;
    }
}

// @keyframes beat {
//     to {
//         transform: scale(1.1);
//     }
// }