.navbar{
    background-color: #171717;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    border-radius:0;
    width: 100%;
    z-index: 9;
    transition: 600ms;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.9s ease-in-out, opacity 0.9s ease-in-out!important;
  
    // &.hidden {
    //   transform: translateY(-100%)!important;
    //   opacity: 0;
    // }
    
    // &.active {
    //   transform: translateY(0);
    //   opacity: 1;
    // }
  
}

a{
    z-index: 10;
}
  
  .navbar.active {
    transform: translateY(0);
    transition: 600ms;
  }
  
  .navbar.hidden {
    transform: translateY(-100%);
    transition: 600ms;
  }
  
  /* Add any other styles you need for your navbar here */
.cyberimagelogo{
    z-index: 10;
    object-fit: contain;
    width: 300px;
}
.cyberimagevector{
    position: absolute;
    width: 80%;
    right: 41%;
    z-index: 0;
    top: -130%;
    object-fit: contain;
}
.menu-bars {
    font-size: 25px;
    background: none;
    margin-left: auto;
    padding-right: 15px;
    margin: 0;
}

.nav-menu{
    background-color: #171717;
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 900ms;
    height: 100vh;
    z-index: 99999999999;
}

.nav-menu.active{
    right: 0;
    transition: 900ms;
}

.nav-menu-items{
    width: 100%;
    height: 100vh;
    margin-top: 50%;
}

.nav-text{
    list-style: none;
    display: flex;
    margin: 40px auto;
    justify-content: center;
}

.nav-text a{
    color: white;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-family: 'Optima'
}

.menu-bars-hide{
    position: absolute;
    right: 50px;
    top: 55px;
}

.Logo{
    width: 250px;
    object-fit: contain;
    padding: 0  0 0 1px;
}

.nav-content{
    padding: 0 20px;
}
#cybercards{
    margin: 10px 0;
}

@media (max-width: 575px) {
.cyberimagelogo{
        width: 190px;
    }

.nav-menu{
    width: 100%;
}

.menu-bars-hide{
    right: 20px;
}

.nav-text a{
    font-size: 20px;
}
.navbar{
    height: 100px;
}
}
// Small devices (landscape phones, 576px and up 767)
@media (min-width: 568px) and (max-width: 768px) {
.Logo {
    width: 150px;
    padding: 0 0 0 20px;
}

.nav-content {
    padding: 0 10px;
}
.nav-text a{
    font-size: 9px;
}

.menu-bars {
    font-size: 15px;
    right: 15px;
}
.cyberimagelogo{
    width: 200px;
}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
.Logo {
    width: 200px;
    padding: 0 0 0 20px;
}

.nav-content {
    padding: 0 10px;
}
.nav-text a {
    font-size: 10px;
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .nav-text a{
        font-size: 13px;
    }
}

